.photos-col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
}

.image{
    margin: 20px;
    width: 400px;
}
.image:hover{
    transform: scale(1.1);
}