{% extends 'base.html' %}

    {%  block css %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('registration.static', filename='css/registration.css') }}">
       <script defer src="{{ url_for('registration.static', filename='js/registration.js')}}"></script>
    {% endblock %}

    {% block container %}
        <div class = "Register-container">
            <div class="button-box">
                <div id="btn"></div>
                   <button class="toggle-btn" type="button">הירשם כלקוח</button>
            </div>

            <form id="Customer" class="Register-form" action="/register" method="POST">
                <div> <!-- Right Side -->
                    <div class="input-validate">
                        <label for="customer_email">כתובת דוא"ל</label>
                        <input class="input" type="text" placeholder="example@gmail.com" id="customer_email" name="customer_email">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_password">סיסמא</label>
                        <input class="input" type="password" id="customer_password" name="customer_password">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_password2">אימות סיסמא</label>
                        <input class="input" type="password" id="customer_password2" name="customer_password2">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_first_name">שם פרטי</label>
                        <input class="input" type="text" id="customer_first_name" name="customer_first_name">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_last_name">שם משפחה</label>
                        <input class="input" type="text" id="customer_last_name" name="customer_last_name">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_phone">טלפון</label>
                        <input class="input" type="tel" id="customer_phone" name="customer_phone">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_birthdate">תאריך יום הולדת</label>
                        <input class="input" type="date" id="customer_birthdate" name="customer_birthdate">
                        <div class="error"></div>
                    </div>
                </div>
                <div> <!-- Left Side -->
                    <div class="input-validate">
                        <label for="showCreditCard_Checkbox">הצג פרטי אשראי</label>
                        <input type="checkbox" id="showCreditCard_Checkbox" onclick="showCreditCard()">
                    </div>
                    <div id="detailsSection" style="display: none">
                        <p>*מספר אשראי לפיקדון בלבד</p>
                        <div class="input-validate">
                            <label for="card_number">מספר אשראי</label>
                            <input class="input" type="text" id="card_number" name="card_number">
                            <div class="error"></div>

                        </div>
                        <div class="input-validate">
                            <label for="card_valid_until">תוקף</label>
                            <input class="input" type="text" id="card_valid_until" name="card_valid_until">
                            <div class="error"></div>
                        </div>
                        <div class="input-validate">
                            <label for="CCV">CCV</label>
                            <input class="input" type="text" id="CCV" name="CCV">
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button id="customer_submit" class="submit-btn" type="submit">הרשמה</button>
                        <button class="return-btn" type="button" onclick="returnHome()">חזור</button>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}

