{% extends 'base.html' %}

    {%  block css %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('about.static', filename='css/about.css') }}">
    {% endblock %}

    {% block contextblock %}
        <div class = "about-us">
            <h1>אודות:</h1>
            <p>רוצים לעשות סדנת בישול ולא יודעים בדיוק איפה? לא מכירים איזה שף ספציפי מומלץ?
                רוצים לראות דירוג על הסדנא ולתת ביקורת בעצמכם?</p>
            <br>
            <p>אצלנו נוצר החיבור ביניכם ובין שפים פרטיים ומוכשרים אשר מציעים סדנאות ביתיות או בזום במגוון קטגוריות ותחומי בישול או קונדיטוריה
                        ניתן לחפש סדנא על פי מקום מגוריכם, בתחום שתרצו או לפי התאריך המתאים לכם - ולשריין מקום בסדנאות!</p>
        </div>

        <div class = "about-image">
            <img src="../../../static/img/table.jpg" alt="">
        </div>
    {% endblock %}


