<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cook Eat</title>
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <script defer src="{{ url_for('static', filename='js/base.js')}}"></script>
    {% endblock %}
</head>
<body>
    {% include ('header.html') %}

    {% block container_wrapper %}
        <div class="container-wrapper">

        {% block container %}
            <div class="container">

            {% block contextblock %}

            {% endblock %}

            </div>
        {% endblock %}
        </div>
    {% endblock %}

</body>
</html>