{% extends 'base.html' %}

    {%  block css %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('gallery.static', filename='css/gallery.css') }}">
    {% endblock %}

    {% block contextblock %}
        <div class="photos-col">
            <img class="image" src="../../../static/img/Picture1.jpg" alt="Picture1">
            <img class="image" src="../../../static/img/Picture2.jpg" alt="Picture2">
            <img class="image" src="../../../static/img/Picture3.jpg" alt="Picture3">
        </div>
        <div class="photos-col">
            <img class="image" src="../../../static/img/Picture4.jpg" alt="Picture4">
            <img class="image" src="../../../static/img/Picture5.jpg" alt="Picture5">
            <img class="image" src="../../../static/img/Picture6.jpg" alt="Picture6">
        </div>
    {% endblock %}


