{% extends 'base.html' %}

    {%  block css %}
        {{ super() }}
        <script defer src="{{ url_for('.static', filename='js/workshopSubscription.js')}}"></script>
    {% endblock %}

    {% block contextblock %}
        <div class="column-flex">
            <div id="workshopDetails"></div>
            <div class="row-flex">
                <div>
                    <h2>הוראות השף:</h2>
                    <h3>אנא להגיע רעבים מאוד</h3>
                    <br>

                    <h2> מספר נרשמים:</h2>
                    <div class = "quantity">
                        <span class = "minus">-</span>
                        <span class = "num">1</span>
                        <span class = "plus">+</span>
                    </div>
                    <h4>ניתן לרשום עד 5 משתתפים</h4>
                </div>
                <form action="" id="form" method="POST">
                    <div class="input-validate">
                        <label for="customer_first_name" dir="rtl" >שם פרטי</label>
                        <input class="input" type="text" id="customer_first_name">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_last_name">שם משפחה</label>
                        <input class="input" type="text" id="customer_last_name">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_email">כתובת דוא"ל</label>
                        <input class="input" type="text" placeholder="example@gmail.com" id="customer_email">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_phone">טלפון</label>
                        <input class="input" type="tel" id="customer_phone">
                        <div class="error"></div>
                    </div>
                    <div class="input-validate">
                        <label for="customer_allergy">אלרגיות</label>
                        <input class="input" type="text" id="customer_allergy">
                        <div class="error"></div>
                    </div>

                    <div class="buttons">
                        <button class="submit-btn" type="submit">רשום אותי</button>
                        <button class="return-btn" type="button" onclick="location.href='/workshops'"> לרשימת הסדנאות</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}



